* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  position: relative;
}

.title {
  text-align: center;
  margin-top: 0.5em;
}

.start-game {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 1.5em;
}

.play-button {
  text-align: center;
}

.movie-screen {
  position: relative;
  border: 3px solid black;
  height: 500px;
  width: 750px;
  margin: 0 auto;
  margin-top: 1.5em;
}

.film-wrapper {
  position: absolute;
  bottom: 0;
  height: 115px;
  width: 100%;
}

.film-frame {
  background: url('../assets/film-frame.png');
  /* background-repeat: no-repeat; */
  height: 100%;
}

.game-controls {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.5em;
  width: 500px;
  justify-content: space-around;
}

.hidden {
  display: none;
}
