@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Limelight', cursive;
}

.bg {
  position: relative;
}

.title {
  text-align: center;
  margin-top: 0.5em;
}

.start-game {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 1.5em;
}

.play-button {
  text-align: center;
}

.movie-screen {
  position: relative;
  border: 3px solid black;
  height: 500px;
  width: 732px;
  margin: 0 auto;
  margin-top: 1.5em;
  /* background-color: #cdcecd; */
  background: radial-gradient(ellipse at top, #cdcecd, transparent),
    radial-gradient(ellipse at bottom, #cdcecd, transparent);
  overflow: hidden;
}

.score-board {
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  height: 90px;
  width: 35%;
  left: 15px;
  top: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.score-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.score-item {
  margin-bottom: 0.5em;
  font-size: 18px;
}

.score-item-actual {
  font-size: 20px;
}

.light-wrapper {
  /* border: 1px solid blue; */
  position: absolute;
  height: 380px;
  width: 450px;
  right: 0;
}

.light-fixture {
  position: absolute;
  background: url('../assets/light.png');
  background-repeat: no-repeat;
  width: 120px;
  height: 140px;
  top: 0px;
  transform: rotate(10deg);
}

.light-beam {
  /* border: 1px solid orange; */
  position: absolute;
  background: url('../assets/light-beam.png');
  background-repeat: no-repeat;
  width: 480px;
  height: 280px;
  left: 40px;
  top: 85px;
  transform: rotate(10deg);
  opacity: 90%;
}

.camera-wrapper {
  position: absolute;
  height: 250px;
  bottom: 115px;
  left: 150px;
  width: 20%;
}

.cam-body {
  position: absolute;
  background: url('../assets/cam.png');
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
  bottom: 0;
  left: 20px;
}

.film-can-1 {
  position: absolute;
  background: url('../assets/film-can.png');
  background-repeat: no-repeat;
  height: 55px;
  width: 55px;
  top: 26px;
  left: 57px;
}

.film-can-2 {
  position: absolute;
  background: url('../assets/film-can.png');
  background-repeat: no-repeat;
  height: 55px;
  width: 55px;
  top: 64px;
  left: 7px;
}

.film-wrapper {
  position: absolute;
  bottom: 0;
  height: 115px;
  width: 100%;
  border-top: 2px solid black;
}

.film-frame {
  background: url('../assets/film-frame.png');
  /* background-repeat: no-repeat; */
  height: 100%;
}

.game-controls {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.5em;
  width: 500px;
  justify-content: space-around;
}

.hidden {
  display: none;
}
