@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Limelight', cursive;
}

.main-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;

  transition: background-color 1s;
}

.bg-dim {
  background-color: rgba(0, 0, 0, 0.9);
}

.title {
  text-align: center;
  margin-top: 0.5em;
  font-size: 48px;
  color: black;

  transition: color 2s;
}

.title-light {
  color: white;
}

.play-now {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 1.5em;

  transition: opacity 2s;
}

.play-button {
  text-align: center;
}

.movie-screen {
  position: relative;
  border: 3px solid black;
  height: 500px;
  width: 732px;
  margin: 0 auto;
  margin-top: 1.5em;
  /* background-color: #cdcecd; */
  background: radial-gradient(ellipse at top, #cdcecd, transparent),
    radial-gradient(ellipse at bottom, #cdcecd, transparent);
  overflow: hidden;
  top: 0px;

  transition: top 2s;
}

.screen-cover {
  opacity: 0;
}

.movie-start {
  top: -78px;
}

.instructions {
  position: absolute;
  border: 2px solid black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
  width: 90%;
  top: 02px;
  left: 35px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.51);
}

.instructions h2 {
  font-size: 32px;
  margin: 0.25em;
  text-align: center;
}

.instructions p {
  font-size: 16px;
  margin-bottom: 0.25em;
  font-family: 'Hind Madurai', sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  /* font-weight: bold; */
}

.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game h5 {
  font-size: 20px;
  margin-bottom: 0.5em;
  text-align: center;
}

.score-board {
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
  height: 110px;
  width: 35%;
  left: 15px;
  top: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.score-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.score-item {
  margin-bottom: 0.5em;
  font-size: 18px;
}

.score-item-actual {
  font-size: 20px;
}

.reload {
  text-align: center;
  font-size: 20px;
}

.timer-wrapper {
  position: absolute;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  height: 50px;
  width: 70px;
  right: 15px;
  top: 15px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}

.time-remain-actual {
  font-size: 28px;
  text-align: center;
}

.end-screen {
  position: absolute;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  right: 50px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.51);
}

.end-screen h2 {
  font-size: 32px;
  margin-bottom: 0.5em;
  text-align: center;
}

.end-screen p {
  font-size: 22px;
  margin-bottom: 1em;
  font-family: 'Hind Madurai', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.play-again {
  display: flex;
  justify-content: center;
}

.win-btn {
  width: 200px;
}

.light-wrapper {
  position: absolute;
  height: 380px;
  width: 450px;
  right: 0;
}

.light-fixture {
  position: absolute;
  background: url('../assets/light.png');
  background-repeat: no-repeat;
  width: 120px;
  height: 140px;
  top: 0px;
  transform: rotate(10deg);
}

.light-beam {
  position: absolute;
  background: url('../assets/light-beam.png');
  background-repeat: no-repeat;
  width: 480px;
  height: 280px;
  left: 40px;
  top: 85px;
  transform: rotate(10deg);
  opacity: 90%;
}

.camera-wrapper {
  position: absolute;
  height: 250px;
  bottom: 115px;
  left: 150px;
  width: 20%;
}

.cam-body {
  position: absolute;
  background: url('../assets/cam.png');
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
  bottom: 0;
  left: 20px;
}

.film-can-1 {
  position: absolute;
  background: url('../assets/film-can.png');
  background-repeat: no-repeat;
  height: 53px;
  width: 53px;
  top: 26px;
  left: 57px;

  transition: transform 1s;
}

.film-can-2 {
  position: absolute;
  background: url('../assets/film-can.png');
  background-repeat: no-repeat;
  height: 53px;
  width: 53px;
  top: 64px;
  left: 7px;

  transition: transform 1s;
}

.film-wrapper {
  position: absolute;
  bottom: 0;
  height: 115px;
  width: 100%;
  border-top: 2px solid black;
}

.film-frame {
  background: url('../assets/film-frame.png');
  /* background-repeat: no-repeat */
  height: 100%;
  width: 100%;
}

.game-controls {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -60px;
  width: 650px;
  justify-content: space-around;
}

button {
  border: none;
  padding: 10px;
  background: radial-gradient(ellipse at top, #cdcecd, transparent),
    radial-gradient(ellipse at bottom, #cdcecd, transparent);
  overflow: hidden;
  border: 2px solid black;
  border-radius: 15px;
  width: 180px;
  font-family: 'Limelight', cursive;
  font-size: 22px;
}

button:active {
  background: radial-gradient(ellipse at top, #dadbda, transparent),
    radial-gradient(ellipse at bottom, #dadbda, transparent);
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.crowd {
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
  background: url(../assets/crowd.png);
  background-size: cover;
  background-position-x: -55px;
  opacity: 0;

  transition: opacity 2s;
}

@media screen and (min-width: 1500px) {
  .crowd {
    background-size: contain;
    background-position-x: 225px;
  }
}

/* Animations */
/* .spin {
  transform: rotate(360deg);
} */

.tadaa {
  opacity: 100;
}

.poof {
  opacity: 0;
}

.hidden {
  display: none;
}
